@charset "utf-8";
.openerp .oe_form table.oe_form_retrocession tr {
  height: 28px;
}
.openerp .oe_form table.oe_form_retrocession tr td, .openerp .oe_form table.oe_form_retrocession tr th {
  vertical-align: middle;
}
.openerp .oe_form table.oe_form_retrocession tr td .oe_form_field_float, .openerp .oe_form table.oe_form_retrocession tr th .oe_form_field_float {
  float: right;
  width: auto !important;
}
.openerp .oe_form table.oe_form_retrocession tr td.oe_retrocession_action {
  width: 250px;
  padding-left: 7px;
}
.openerp .oe_form table.oe_form_retrocession th {
  text-align: right; 
}
.openerp .oe_form table.oe_form_retrocession .oe_retrocession_grey {
  background-color: #eeeeee;
  color: #404040;
}
